<form>

    <div class="nhsuk-form-group">
  
      <fieldset class="nhsuk-fieldset" aria-describedby="example-hint">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
          <h1 class="nhsuk-fieldset__heading">
            How would you like to be contacted?
          </h1>
        </legend>
  
        <div class="nhsuk-hint" id="example-hint">
          Select all options that are relevant to you.
        </div>
  
        <div class="nhsuk-checkboxes">
  
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
              Email
            </label>
          </div>
  
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-2" name="example" type="checkbox" value="phone">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-2">
              Phone
            </label>
          </div>
  
          <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
              Text message
            </label>
          </div>
  
        </div>
      </fieldset>
  
    </div>
  
  </form>